<% include partials/header.ejs %>

<div class="container">
        <!-- 794*171 -->
        <div class="product">

            <div class="productImg">
                <img src="https://img3.leboncoin.fr/ad-image/9a6a76de36c7c55e4a49f1276c8a0e1b4efd7719.jpg" alt="">
            </div>

            <div class="productText">
                <div class="title">DVD : Documentaire</div>
                <div class="city">Paris 10ème</div>
                <div class="price">1 €</div>
            </div>

        </div>
    
</div>

<% include partials/footer.ejs %>    