<% include partials/header.ejs %>

<div class="container">
        <% for(product of products) { %>
        <div class="product">

            <div class="productImg">
                <img src="/uploads/<%= product.photo %>" alt="">
            </div>

            <div class="productText">
                <div class="title"><%= product.title %></div>
                <div class="city"><%= product.city %></div>
                <div class="price"><%= product.price %> €</div>
            </div>

        </div>
        <% } %>
    
</div>

<% include partials/footer.ejs %>    